.movies-list {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

@media (max-width: 900px) {
    .movies-list {
        grid-template-columns: repeat(auto-fit, 339px);
    }
}

@media (max-width: 767px) {
    .movies-list {
        grid-template-columns: repeat(auto-fit, 300px);
    }
}