.not-found {
    color: #FFF;
    text-align: center;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    padding-top: 244px;
    line-height: 1.21;
    justify-content: center;
    padding-bottom: 60px;
}

.not-found__error {
    margin: 0;
    font-size: 140px;
    margin-bottom: 5px;
}

.not-found__title {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.not-found__text {
    margin-bottom: 184px;
}

.not-found__back {
    background: none;
    border: none;
    margin: auto;
    display: block;
    font-size: 14px;
    color: #4285f4;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.not-found__back:hover {
    transform: scale(1.1);
}