.login {
    box-sizing: border-box;
    padding-top: 70px;
    min-height: 100vh;
    line-height: 1.21;
    color: #FFF;
}

@media (max-width: 768px) {
    .login {
        padding-top: 232px;
    }
}

@media (max-width: 320px) {
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
    }
}

.login__container {
    max-width: 396px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

@media (max-width: 320px) {
    .login__container {
        align-items: center;
    }
}

.login__logo-container {
    max-width: 38px;
}

.login__logo {
    margin-bottom: 40px;
}

@media (max-width: 320px) {
    .login__logo {
        margin-bottom: 50px;
    }
}

.login__title {
    margin: 0 0 40px;
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 320px) {
    .login__title {
        margin-bottom: 80px;
    }
}

.login__inputs {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__input-label {
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.login__input-field {
    padding: 0;
    padding-left: 15px;
    border-radius: 8px;
    background: #2F2F2F;
    border: none;
    min-height: 46px;
    color: #FFF;
}

.login__button {
    border: none;
    margin-top: 69px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    background: #4285F4;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

@media (max-width: 320px) {
    .login__button {
        margin-top: 157px;
        font-size: 12px;
    }
}

.login__text {
    color: #8B8B8B;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 320px) {
    .login__text {
        margin-top: 14px;
    }
}

.login__link {
    color: #4285f4;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding-left: 6px;
}

.login__link:hover {
    color: #3ddc84;
}